* {
    margin: 0px;
    padding: 0px;
    font-family: "Verdana", Helvetica, sans-serif;
    color: #2B2B2B;
	box-sizing: border-box;
}
body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    overflow-y: scroll;
    padding-top: 20px;
}
html {
    background: #f8f8ff;
}
p {
    font-size: 20px;
}
p.justify {
    text-align: justify;
}
h1 {
    margin:0px auto;
    text-align: left;
    color: #E2E2E2;
    text-decoration: ;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    padding: 15px 0px;
    box-shadow: 10px 10px 50px 20px #0078A8 inset;
    right: 0px;
    left: 0px;
    top: 0px;
    font-size: 45px;
    text-align: center;
    letter-spacing: 4.5px;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    background-color: #0078A8;
    transition: 0.3s all ease;
	z-index: 2000;
	text-transform: uppercase;
}
h1.scroll {
    padding: 10px 0px;
    font-size: 30px;
}
h2 {
	margin: 15px 0px;
	text-align: center;
}
#content {
    margin-top: 90px;
}
.eventkarte-route-types{
	border-left: 4px solid #0078A8;
	display: inline-block;
	padding: 15px 5px;
}
.eventkarte-route-type{
	margin-left: 16px;
}
.eventkarte-route-plus{
	color: white;
	background-color: #0078A8;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
	padding: 3px 10px 5px;
	font-weight: bold;
	cursor: pointer;
	vertical-align: top;
	margin-top: 26px;
}
.eventkarte-route-type > input {
	width: 90px;
	display: inline-block;
	vertical-align: top;
	margin-top: 22px;
}
input, textarea {
	padding: 5px;
	background: #fff;
	border: 1px solid #bbb;
	margin-bottom: 5px;
}
input:focus, textarea:focus {
	border: 1px solid #0078A8;
}
.eventkarte-route-location input {
	margin-bottom: 0px;
}
#eventkarte-comment {
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
	width: 100%;
}
#eventkarte-submit {
	margin-top: 20px;
	margin-bottom: 100px;
	display: inline-block;
	width: 100%;
}
div#map {
	margin: 0px auto;
	margin-bottom: 20px;
	width: 700px;
	height: 350px;
	max-width: 100%;
	border: 1px solid #0078A8;
}
#eventkarte form{
	width: 500px;
	max-width: 100%;
	margin: 0px auto;
}
.eventkarte-location {
	width: 80%;
	width: -moz-calc(100% - 85px);
	width: -webkit-calc(100% - 85px);
	width: calc(100% - 85px);
}
.eventkarte-time {
	float: right;
	width: 80px;
}
#eventkarte-ownername, #eventkarte-ownermail {
	width: 49.5%;
}
.eventkarte-route-types a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 2px;
	border: 2px solid transparent;
	transition: 0.2s all ease-in-out;
}
.eventkarte-route-types a img {
	width: 38px;
	height: 38px;
}
.eventkarte-route-types a.selected {
	border: 2px solid #0078A8;
}
#eventkarte-submit {
	background: #0078A8;
	border: none;
	padding: 10px;
	color: white;
	font-size: 120%;
}


