* {
    margin: 0px;
    padding: 0px;
    font-family: "Verdana", Helvetica, sans-serif;
    color: #2B2B2B;
    box-sizing: border-box;
}
body>h1 {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-weight: normal;
    height: 60px;
}
h2 {
    font-weight: normal;
    margin-bottom: 10px;
}
#content {
    width: 495px;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0px;
    top: 60px;
    bottom: 0px;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: content-box;
}
body, html {
    height: 100%;
}
#map {
    position: absolute;
    top: 60px;
    bottom: 0px;
    right:0px;
    left:500px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

.eventkarte-route-types{
    border-left: 4px solid #0078A8;
    display: inline-block;
    padding: 15px 5px;
}
.eventkarte-route-plus img, .eventkarte-route-minus img{
    width: 25px;
    cursor: pointer;
}
.eventkarte-route-type{
    margin-left: 16px;
}
.eventkarte-route-plus {
    margin-top: 26px;
}
.eventkarte-route-minus {
    float: right;
    margin-left: 5px;
}
.eventkarte-route-type > input {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 10px;
}
input, textarea {
    padding: 5px;
    background: #fff;
    border: 1px solid #bbb;
    margin-bottom: 5px;
}
input:focus, textarea:focus {
    border: 1px solid #0078A8;
}
.eventkarte-route-location input {
    margin-bottom: 0px;
}
#eventkarte-comment {
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 100%;
}
#eventkarte-submit {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    cursor:pointer;
}
#eventkarte form{
    width: 500px;
    max-width: 100%;
    margin: 0px auto;
}
.eventkarte-location {
    width: 70%;
    width: -moz-calc(100% - 115px);
    width: -webkit-calc(100% - 115px);
    width: calc(100% - 115px);
}
.eventkarte-time {
    float: right;
    width: 80px;
}
#eventkarte-ownername, #eventkarte-ownermail {
    width: 49.3%;
}
.eventkarte-route-types a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    border: 2px solid transparent;
    transition: 0.2s all ease-in-out;
}
.eventkarte-route-types a img {
    width: 30px;
    height: 30px;
}
.eventkarte-route-types a.selected {
    border: 2px solid #0078A8;
}
#eventkarte-submit {
    background: #0078A8;
    border: none;
    padding: 10px;
    color: white;
    font-size: 120%;
}
#eventkarte-contact {
    margin-top: 10px;
}
#eventkarte-contact input,#eventkarte-contact textarea {
    width: 100%;
}
#eventkarte-contact textarea {
    height: 120px;
}
#eventkarte-location-time {
    margin-right: 30px;
}